  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">The Greatest Idea Box of All Time</a>
    </div>
  </nav>

<div id="ideas">
  <h4 id="ideas_title">Ideas</h4>
  <table class="bordered hoverable" id="idea_table">
  </table>
</div>

<div id="new_idea">
  <h4>New Idea</h4>
  <div id="new_idea_form">
    Title: <input type="text" name="title" id="new_title_input"><br>
    Body: <input type="text" name="body" id="new_body_input"><br><br>
    <select id="quality_dropdown"></select>
    <input type="submit" value="Save" id="new_idea_button">
  </div>
</div>