<div id="page_title">
  <h1>The Greatest Idea Box of All Time</h1>
</div>

<div id="ideas">
  <h3 id="ideas_title">Ideas</h3>
  <table id="idea_table">
  </table>
</div>

<div id="new_idea_form">
  <h3>New Idea</h3>
  Title: <input type="text" name="title" id="new_title_input"><br>
  Body: <input type="text" name="body" id="new_body_input"><br><br>
  <select id="quality_dropdown"></select>
  <input type="submit" value="Save" id="new_idea_button">
</div>